.env
.env.local
.env.*.local

node_modules
dist
.next

client/node_modules
client/.next
client/out

server/node_modules
server/dist
server/.env
server/appsettings.Development.json
serer/appsettings.*.local.json

# .NET build output
**/bin/
**/obj/
bin/
obj/